.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
}

input[type="file"] {
    display: none;
}

.MyOverviewButton {
    width: auto;
    background-color: #bb2c4c;
    border: none;
}

#slide {
    position: absolute;
    left: -1000px;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 1s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}

@media (max-width: 650px) {
    .UploadForm input[type=text] {
        width: 100%;
    }
}

.MyOverviewButton:hover {
    background-color: #dd2c4c;
}

.MyOverviewButton:focus {
    background-color: #dd2c4c;
}

.MyOverviewButton:active {
    background-color: #dd2c4c;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 7px 4px;;
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 2;
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    opacity: 1 \9; /*just in case ie*/
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fade-in.one {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.custom-file-upload {
    background-color: #bb2c4c;
    border: 1px solid #bb2c4c;
    color: #FFF;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
}

.loginbar {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 20px;
    -webkit-box-shadow: 1px 29px 28px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 29px 28px 9px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 29px 28px 9px rgba(0, 0, 0, 0.75);
}

.widgetwell {
    -webkit-box-shadow: 1px 15px 14px 3px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 15px 14px 3px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 15px 14px 3px rgba(0, 0, 0, 0.16);
}

.widgetwell:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

hr.style17 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}

hr.style17:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #FFF;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}

.elegantshadow {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #000000;
    background-color: #FFF;
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #767676,
    -1px 2px 1px #737272,
    -2px 4px 1px #767474,
    -3px 6px 1px #787777,
    -4px 8px 1px #7b7a7a,
    -5px 10px 1px #7f7d7d,
    -6px 12px 1px #828181,
    -7px 14px 1px #868585,
    -8px 16px 1px #8b8a89,
    -9px 18px 1px #8f8e8d,
    -10px 20px 1px #949392,
    -11px 22px 1px #999897,
    -12px 24px 1px #9e9c9c,
    -13px 26px 1px #a3a1a1,
    -14px 28px 1px #a8a6a6,
    -15px 30px 1px #adabab,
    -16px 32px 1px #b2b1b0,
    -17px 34px 1px #b7b6b5,
    -18px 36px 1px #bcbbba,
    -19px 38px 1px #c1bfbf,
    -20px 40px 1px #c6c4c4,
    -21px 42px 1px #cbc9c8,
    -22px 44px 1px #cfcdcd,
    -23px 46px 1px #d4d2d1,
    -24px 48px 1px #d8d6d5,
    -25px 50px 1px #dbdad9,
    -26px 52px 1px #dfdddc,
    -27px 54px 1px #e2e0df,
    -28px 56px 1px #e4e3e2;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.item {
    border-radius: 5px;
}

@media screen and (max-width: 480px) {
    #GlyphiconHead {
        visibility: hidden;
    }
}

@media screen and (max-width: 480px) {
    #GlyphiconHead {
        visibility: hidden;
    }
}

@media screen and (max-width: 480px) {
    #TitleFont {
        font-size: 14px;
    }
}

#OnTime {
    width: 100%;
    height: auto;
    background-color: #eaeaea;
    padding-top: 8px;
    padding-bottom: 4px;
    border-left: 7px solid #6FDC6F;
    color: #000;
}

#TooLate {
    width: 100%;
    height: auto;
    background-color: #eaeaea;
    padding-top: 8px;
    padding-bottom: 4px;
    border-left: 7px solid #f63535;
    color: #000;
}

#OneDayToDL {
    width: 100%;
    height: auto;
    background-color: #eaeaea;
    padding-top: 8px;
    padding-bottom: 4px;
    border-left: 7px solid #f6aa35;
    color: #000;
}

.stylish-input-group .input-group-addon {
    background: white !important;
    border: 1px solid #ccc;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.panel-header {
    background-color: #dd2c4c;
}

#talabel {
    width: 114px;
    margin-right: 15px;
    display: inline-block;
}

button {
    width: 20px;
}

.counter {
    border-radius: 50%;
    height: 196px;
    vertical-align: middle;
    color: #dd2c4c;
    font-size: 100px;
}

.overzichtcount {
    border-radius: 50%;
    height: 196px;
    vertical-align: middle;
    color: #dd2c4c;
    font-size: 100px;
}

.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #eee;
    height: 35px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -ms-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    background: #6adcfa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-text {
    position: absolute;
    color: white;
    font-size: 26px;
    text-shadow: 2px 2px 4px #000000;
    left: 6%;
    top: -6%;

}

.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    text-shadow: 1px 1px 1px #0c0c0c;
    color: rgba(0, 0, 0, 0.4);
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto 0 auto;
    border-bottom-color: #bb2c4c;
}

.wizard > div.wizard-inner {
    position: relative;
}

.widget-img {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -32px;
    top: -32px;
    background-color: #fff;
    border: 3px solid #e3e3e3;
    -webkit-box-shadow: -1px 62px 129px 0 rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -1px 62px 129px 0 rgba(0, 0, 0, 0.58);
    box-shadow: -1px 62px 129px 0 rgba(0, 0, 0, 0.58);

}

.img-md {
    width: 62px;
    height: 62px;
}

.widget-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #bb2c4c;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i {
    color: #555555;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #bb2c4c;

}

.wizard li.active span.round-tab i {
    color: #bb2c4c;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #bb2c4c;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0;
    border: 5px solid transparent;
    border-bottom-color: #e0e0e0;
    transition: 0.1s ease-in-out;
}

.wizard .glyphicon {
    margin-top: 16px;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0;
    border: 10px solid transparent;
    border-bottom-color: #bb2c4c;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding: 35px 20px 20px 20px;
}

.wizard h3 {
    margin-top: 0;
}

@media ( max-width: 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

table {
    font-family: cabinregular, 'serif';
    border-collapse: collapse;
    width: 100%;
}

/* Hiding the checkbox, but allowing it to be focused */
.badgebox {
    opacity: 0;
}

#filterbutton {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    background-color: #bb2c4c;
    color: #FFF;
}

.badgebox + .badge {
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
    width: 27px;
}

.badgebox:focus + .badge {
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */

    /* Adding a light border */
    box-shadow: inset 0 0 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge {
    /* Move the check mark back when checked */
    text-indent: 0;
}

.imagedownload {
    position: relative;
    width: 60px;
    height: 60px;
}

#downloadtext {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(116, 109, 109, 0.3);
    text-align: center;
}

#downloadimagedd {
    width: 85px;
}

.alert_message {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert_error {
    color: #b12626;
    background-color: #ce8f97;
    border-color: #ce8f97;
}

.alert_info {
    color: #2c3884;
    background-color: #c5edff;
    border-color: #c5edff;
}

#thumbnail2 {
    background-size: 100px, 100%;
    height: 100%;
}

.lightbox {
    /** Default lightbox to hidden */
    display: none;

    /** Position and style */
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}

.lightbox div {
    /** Pad the lightbox image */
    max-width: 90%;
    max-height: 90%;
    margin: 0 auto;
    margin-top: 2%;
}

.lightbox:target {
    /** Remove default browser outline */
    outline: none;

    /** Unhide lightbox **/
    display: block;
}

.lightbox #thumbnail2 {
    background-size: 13%, 100%;
    max-width: 100%;
    height: 100%;
}

.alert_message {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

#ConditionsLogoDiv {
    vertical-align: middle;
}

#statusbartext {
    font-size: 17px;
    line-height: 1.7;
    color: #bb2c4c;
}

.AccordImgBorder {
    width: 900px;
}

#myimage {
    border: 20px solid white;
}

.algvw {
    color: #fff;
    background-color: #bb2c4c;
    border-color: #bb2c4c;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../icons/loading.gif') center no-repeat #fff;
}

.algvw:hover {
    color: #fff;
    background-color: #bb2c4c;
    border-color: #bb2c4c;
}

#mybuttons {
    position: relative;
    left: 2%;
}

body {
    height: 600px;
    padding: 0 !important;
}

#Voorwaarden {
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.UploadForm input[type=text] {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 2px;
}

#AccOpm {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 2px;
}

.NewClient input[type=text] {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 2px;
}

.EditClient input[type=text] {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 2px;
}

.EditClient input[type=email] {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 2px;
}

.EditClient input [type=submit] {
    border-radius: .5em;
    border: 1px solid #bb2c4c;
    background-color: #bb2c4c;
    padding: 0.5em;
    color: white;
    font-weight: bold;
}

.NewClient input[type=submit] {
    border-radius: .5em;
    border: 1px solid #bb2c4c;
    background-color: #bb2c4c;
    padding: 0.5em;
    color: white;
    font-weight: bold;
}

#verstuuracc {
    border-radius: .5em;
    border: 1px solid #bb2c4c;
    background-color: #bb2c4c;
    padding: 0.5em;
    color: white;
    font-weight: bold;
}

.NewClient input[type=email] {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 2px;
}

@media (max-width: 650px) {
    .EditClient input[type=text] {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .UploadForm input[type=text] {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .EditClient input[type=email] {
        width: 100%;
    }
}

.EditClient input [type=submit] {
    border-radius: .5em;
    border: 1px solid #bb2c4c;
    background-color: #bb2c4c;
    padding: 0.5em;
    color: white;
    font-weight: bold;
}

@media (max-width: 650px) {
    #preview {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 650px) {
    .NewClient input[type=text] {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .NewClient input[type=email] {
        width: 100%;
    }
}

.MailSettings input[type=text] {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 2px;
}

@media (max-width: 650px) {
    .MailSettings input[type=text] {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .NameText {
        text-align: center;
    }
}

@media (max-width: 650px) {
    .ClientFormText {
        text-align: center;
    }
}

#preview {
    max-width: 100%;
    display: block;
    height: auto;
}

@media (max-width: 650px) {
    #tags {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .TaDescription {
        width: 100%;
    }
}

.TaDescription {
    border-radius: 5px;
    border: 1px solid #bb2c4c;

}

.TaDescriptionActive {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 2px;
}

@media (max-width: 650px) {
    .TaDescriptionActive {
        width: 100%;
    }
}

.UploadForm input[type=email] {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 2px;
}

.UploadForm input[type=submit] {
    border-radius: .5em;
    border: 1px solid #bb2c4c;
    background-color: #bb2c4c;
    padding: 0.5em;
    color: white;
    font-weight: bold;
}

.Description2 {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 2px;
}

.MailSettings input[type=email] {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 2px;
}

.MailSettings input[type=submit] {
    border-radius: .5em;
    border: 1px solid #bb2c4c;
    background-color: #bb2c4c;
    padding: 0.5em;
    color: white;
    font-weight: bold;
}

#SendSearch {
    background-image: url('../img/icons/search.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    border: 1px solid #bb2c4c;
    border-radius: 5px;
    background-color: #FFF;
    height: 28px;
}

.well-dash {
    -webkit-box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.75);
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.sidebar-nav li:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

#TableInput {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 7px;
    width: 40%;
}

@media (max-width: 650px) {
    #TableInput {
        width: 100%;
    }
}

.dropdown-pull-right {
    float: right !important;
    right: 0;
    left: auto;
}

.dropdown-pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}

#UserTable {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 7px;
    background-position: right;
    background-repeat: no-repeat;
}

#UserBlockImage {
    padding: 5px;
    float: left;
    display: block;
    height: 100%;
    opacity: 0.2;
}

#PaginationButton {
    color: #dd2c4c;
}

#PaginationForm {
    padding: -10px;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* Example stylistic flourishes */

.fileContainer {
    background: #bb2c4c;
    border-radius: .5em;
    padding: 0.5em;
    color: white;
    padding-left: 1%;
}

.fileContainer [type=file] {
    cursor: pointer;
}

#KlantbeheerButton {
    border-radius: .5em;
    border: 1px solid #bb2c4c;
    background-color: #bb2c4c;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    width: 150px;
    text-decoration: none;
    text-align: center;
}

.SMTPSettings input[type=text] {
    border-radius: 5px;
    border: 1px solid #bb2c4c;
    padding-left: 12px;
}

.SMTPSettings input[type=submit] {
    border-radius: .5em;
    border: 1px solid #bb2c4c;
    background-color: #bb2c4c;
    padding: 0.5em;
    color: white;
    font-weight: bold;
}

.NameText table {
    font-family: cabinregular, 'serif';
    border-collapse: collapse;
    width: 100%;
    border: none;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

#header {
    position: relative;
    width: 100%;
    height: 130px;
    background-color: #d4254e;
}

#preview {
    width: 527px;
    height: 301px;
}

ul.sidebar-nav {
    padding-top: 10px;
}

#MenuButton {
    float: left;
    clear: both;
    margin: -10px 0 0 35px;
    padding-bottom: 10px;
}

#MenuSide {
    float: left;
}

#NameSide {
    background-color: #ffffff;
    float: right;
    margin: 28px 70px 0 0;
    height: 50px;
    min-width: 150px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 15px 14px 3px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 15px 14px 3px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 15px 14px 3px rgba(0, 0, 0, 0.16);
    text-align: right;
}

#PhotoSide {
    border: 3px solid red;
    position: absolute;
    height: 130px;
    right: 5px;
    left: 82%;
    margin-left: 25px;
    padding-top: 7px;
}

#PF {
    align-content: left;
    width: 100px;
    height: 100px;
}

#AccButton {
    width: 120px;
    height: 28px;
    border-radius: .5em;
    border: 1px solid #bb2c4c;
    background-color: #bb2c4c;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    line-height: 8px;
    text-align: center;
    text-decoration: none;
}

#AccButton1 {
    width: 120px;
    height: 28px;
    border-radius: .5em;
    border: 1px solid #bb2c4c;
    background-color: #bb2c4c;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    line-height: 8px;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .skillbar-title {
        width: 100%;
    }

    .skillbar-title span {
        text-align: left;
    }

    .skill-bar-percent {
        color: #FFF;
    }
}

#NewClientButton {
    width: 160px;
    height: 28px;
    border-radius: .5em;
    border: 1px solid #bb2c4c;
    background-color: #bb2c4c;
    padding: 0.5em;
    color: white;
    font-weight: bold;
    line-height: 8px;
    text-align: center;
    text-decoration: none;
}

#MenuSeperator {
    margin-left: 15px;
    color: #FFF;
    font-family: cabinregular, 'serif';
    font-size: 12px;
}

#LoggedInAs {
    padding: 5px 5px 5px 25px;
    float: right;
    color: #dd2c4c;
    height: 100%;
    white-space: normal;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    float: right;
}

#LogOut {
    padding-right: 47px;
    font-size: 17px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 5px;
}

@media screen and (max-width: 600px) {
    #NameSide {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #TableInput {
        width: 100%;
        margin: 0 auto;
    }
}

.sidebar-nav .nav-button-home a {
    background: url("../img/icons/home-white.png") no-repeat 40px 5px
}

.sidebar-nav .nav-button-upload a {
    background: url("../img/icons/upload-white.png") no-repeat 40px 5px
}

.sidebar-nav .nav-button-all a {
    background: url("../img/icons/seen-white.png") no-repeat 40px 5px
}

.sidebar-nav .nav-button-settings a {
    background: url("../img/icons/settings-white.png") no-repeat 40px 5px
}

.sidebar-nav .nav-button-users a {
    background: url("../img/icons/person-white.png") no-repeat 40px 5px
}

.sidebar-nav .nav-button-logout a {
    background: url("../img/icons/logout-white.png") no-repeat 40px 7px
}

.sidebar-nav .nav-button-accord a {
    background: url("../icons/acc.png") no-repeat 40px 7px
}

.sidebar-nav .nav-button-status a {
    background: url("../icons/timewhite.png") no-repeat 40px 7px
}

.sidebar-nav .nav-button-status a:hover {
    background: url("../icons/timehover.png") no-repeat 40px 5px
}

.sidebar-nav .nav-button-home a:hover {
    background: url("../img/icons/home-hover.png") no-repeat 40px 5px
}

.sidebar-nav .nav-button-upload a:hover {
    background: url("../img/icons/upload-hover.png") no-repeat 40px 5px
}

.sidebar-nav .nav-button-all a:hover {
    background: url("../img/icons/seen-hover.png") no-repeat 40px 5px
}

.sidebar-nav .nav-button-settings a:hover {
    background: url("../img/icons/settings-hover.png") no-repeat 40px 5px
}

.sidebar-nav .nav-button-users a:hover {
    background: url("../img/icons/person-hover.png") no-repeat 40px 5px
}

.sidebar-nav .nav-button-logout a:hover {
    background: url("../img/icons/logout-hover.png") no-repeat 40px 7px
}

.sidebar-nav .nav-button-accord a:hover {
    background: url("../icons/acchover.png") no-repeat 40px 7px
}

html, body, #wrapper, #sidebar-wrapper {
    height: 100%;
}

html {
    min-width: 400px;
    background-image: url("../img/sideMenuBack.png");
    background-repeat: repeat-y;
    background-position: -250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

html.toggled {
    background-position: 0;
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

table.table {
    width: 100%;
}

.table th, .table td {
    text-align: left;
    padding: 0.25em;
}

.table tr {
    border-bottom: 0 solid #FFFFFF;
}

@media screen and (max-width: 1130px) {
    #myTable tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
    }

    #myTable td, th {
        flex: 1 1 150px;
    }

    td.edit-buttons, td.empty {
    }
}

.NameText {
    font-size: 20px;
}

.ClientFormText {
    font-size: 17px;

}

.LastOne {
    width: 99%;
    height: 200px;
    background: #b20a30;
    border-radius: 5px;
    text-align: center;
}

.LastUpload {
    font-size: 20px;
    padding-left: 20px;
}

@media (max-width: 650px) {
    .LastUpload {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .ChangeLogo {
        color: transparent;
    }
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    overflow-x: hidden;
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    margin-left: -250px;
    overflow-y: auto;
    background: #283033;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    min-width: 380px;
    width: 100%;
    position: absolute;
    padding: 15px;
}

#page-content-wrapper .col-sm-6 {
    height: 336px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#page-content-wrapper .thumbnail {
    height: 100%;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

#wrapper .widgetwell {
    height: 100%;
}

/* Sidebar */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 88px;
    line-height: 39px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #bc2d4b;
    background: #25292b;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #b20b30;
    background: none;
}

@media (min-width: 768px) {
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    tr {
        margin-bottom: 35px;
    }
}

#error404 {
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 20%;
}

.error {
    margin: 0 auto;
    text-align: center;
}

.error-code {
    bottom: 60%;
    color: #2d353c;
    font-size: 96px;
    line-height: 100px;
}

.error-desc {
    font-size: 12px;
    color: #647788;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.container {
    width: 100% !important;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9e2e5 !important;
}

tr:nth-child(2n) {
    background-color: #FFFFFF !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f9e2e5 !important;
}

.even {
    background-color: #FFFFFF !important;
}

#myTable .sorting:hover {
    background-color: aliceblue;
}

#comments {
    width: 100%;
    height: 12em;
    -webkit-margin-before: 0;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-padding-start: 0;
}

#comments li {
    width: 100%;
    background-color: #e0e0e0;
    padding: 5px;
    max-height: 31px;
    display: block;
    font-size: 16px;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.allanswers .isanswer {
    display: none;
}

#textinput1 {
    height: 80px;
}

#leftside {
    width: 75%;
    float: left;
}

#rightdate {
    width: 25%;
    float: right;
    text-align: center;
}

.abutton {
    display: block;
    width: 100px;
    height: 34px;
    background: rgb(187, 44, 76);
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    float: left;
    margin-left: 15px;
}

.abuttonmodal {
    width: 100px;
    height: 34px;
    background: rgb(187, 44, 76);
    padding: 7px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.abutton:hover {
    text-decoration: none;
    color: #fff;
}

.abuttonmodal:hover {
    text-decoration: none;
    color: #fff;
}

#days {
    font-size: 12px;
    color: #9cfeff;
}

.alert1 {
    padding: 5px;
    max-height: 62px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-version {
    font-size: 16px;
    color: black;
}

.glyphicon1 {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#filters {
    text-align: right;
}

#filters button {
    margin-bottom: 5px;
}

#tableheader {
    display: block;
}

#filtermobiel {
    display: none;
}

@media screen and (max-width: 520px) {
    .filtermobiel {
        float: left;
        text-align: left !important;
    }
}

#Globalmail {
    display: block;
    width: auto;
    margin: 4px 0px;
    overflow: hidden;
}

.dropzone {
    border: 0 !important;
}

.dz-progress {
    display: none !important;
}

.dropzone .dz-message {
    text-align: left !important;
    margin: 0 !important;
    width: 80px;
}

.popup {
    position: fixed;
    top: 40%;
    width: 330px;
    height: 160px;
    left: 50%;
    color: black;
    z-index: 4;
    text-align: center;
    line-height: 130px;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.56);
    box-shadow: 0 0 4px 1px #5c215d;
    text-shadow: 0 0 1px black;
    display: none;
}

#loginheader {
    display: table;
    width: 100%;
    height: 256px;
}

#logincenter {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#logincenter img {
    margin: 0 auto;
    min-width: 75%;
    max-width: 100%;
}

#resize {
    display: table;
}

.btn-primary:hover {
    cursor: pointer !important;
}

#filters a {
    text-decoration: none;
}

/*donut chart*/

#mychart{
    padding-bottom: 10px;
}

@media screen and (max-width: 420px) {
    #mychart {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 420px) and (max-width: 1000px) {
    #mychart {
        width: auto;
        height: calc(100% - 24px);
    }
}

@media screen and (min-width: 1000px) and (max-width: 1050px) {
    #mychart {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1050px) {
    #mychart {
        width: auto;
        height: calc(100% - 24px);
    }
}

@media screen and (min-width: 990px) and (max-width: 1100px) {
    p {
        margin: 0 0 5px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1300px) {
    #wrapper.toggled #mychart {
        width: 100% !important;
        height: auto !important;
    }
}

@media screen and (max-width: 770px) {
    #wrapper.toggled #page-content-wrapper {
        width: calc(100% - 250px);
    }

    #mychart {
        width: auto;
        height: calc(100% - 24px);
    }
}

/*CRM portaal*/

/*#crmdashboardtable table {*/
    /*border-collapse: collapse;*/
    /*width: 90%;*/
/*}*/

/*#crmdashboardtable td {*/
    /*padding-top: .5em;*/
    /*padding-bottom: .5em;*/
    /*position: relative;*/
/*}*/

/*#crmdashboardtable tr {*/
/*background-color: #eaecef;*/
/*}*/

/*#crmdashboardtable td:after {*/
    /*content: '';*/
    /*display: block;*/
    /*margin-top: 60px;*/
/*}*/
/*#crmdashboardtable td .content {*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*bottom: 10px;*/
    /*left: 10px;*/
    /*right: 10px;*/
    /*background: gold;*/
/*}*/

.crm-dashboard-holder{
    overflow-y: scroll;
    width: 1438px;
}

.crm-dashboard-row{
    margin-left: 30px;
    width: 250px;
    height: 550px;
    text-align: left;
    padding-top: 10px;
    float: left;
}

.crm-dashboard-inside-row{
    padding-top: 20px;
    margin-top: 20px;
    background-color: #eeeeee;
    width: 250px;
    height: 550px;
    border-radius: 7px;
    box-shadow: 0px 0px 20px #939393;
    position: relative;
}


.crm-dashboard-inside-row button{
    width: 200px;
    position:absolute;
    bottom:10px;
    right: 10%;
    border-radius: 7px;
    height: 35px;
}

.crm-dashboard-box{
    margin: 0 auto;
    width: 220px;
    list-style-type: none;
    background-color: #f4f6f9;
    border-radius: 7px;
    margin-bottom: 15px;
    position: relative;
}

.crm-dashboard-box ul{
    list-style-type: none;
    text-align: left;
    padding: 5px;
}

.crm-dashboard-select{
    width: 250px;
    height: 30px;
    border-radius: 9px;
    background-color: #dd2c4c ;
    color: white;
    margin: 0 auto;
    padding-left: 10px;
    margin-top: 10px;
}

.crm-dashboard-box .deadline{
    position: absolute;
    top: 3px;
    right: 3px;
    height: 25px;
}

.crm-dashboard-box .urgentie{
    position: absolute;
    bottom: 25px;
    right: 3px;
    height: 25px;
}

.crm-dashboard-box .toewijzenlink{
    position: absolute;
    bottom: -5px;
    right: 3px;
    height: 30px;
    text-decoration: underline;
}

